body {
  margin: 5% 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: cornsilk;
  font-size: 16px;
}

button:hover {
  background: #ff4800b9;
}

button:focus {
  outline: 0px;
  outline-offset: 0px;
}

button:active {
  transform: scale(1);
}
